* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f5f7ef;
}
.main {
    height: 100%;
    display: grid;
    color: #1d1934;
    place-items: center;
    font-family: system-ui;
    padding: 2rem;
}
.palette-container {
    display: flex;
    flex-direction: column;
    .palette-header {
        text-transform: capitalize;
        margin-bottom: 0.25rem;
    }
}
.palette-colors {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    div {
        flex: 1;
        height: 3rem;
        border-radius: 0.375rem;
    }
    p {
        margin-right: 1rem;
        text-transform: capitalize;
    }
}
* {
    --height: 100vh;
    --image: "";
}
.bg-img {
    background: var(--image) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
img {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    img {
        left: 50%;
        margin-left: -512px; /* 50% */
    }
}

body {
}
.error-message {
    display: grid;
    place-items: center;
    color: red;
    background: hsl(0 96% 90%);
}
.content {
    align-items: center;
    width: 100%;
    min-width: 300px;
    max-width: 75vw;
    display: grid;
    grid-gap: 1rem;
    max-width: 36rem;
    padding: 2rem;
    background: #fff;
    background: hsla(0, 100%, 100%, 0.75);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(16px) saturate(180%);
    box-shadow: 0px 4px 16px 0px hsla(0, 0%, 0%, 0.125);
    border-radius: 1rem;
    border: 1px solid hsla(0, 0%, 100%, 0.9);
}
* {
    --opacity: 1;
}
$blue: rgba(66, 153, 225, var(--opacity));
.form {
    --opacity: 0.3;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid $blue;
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1rem;
    section {
        display: grid;
        grid-gap: 0;
        grid-template-rows: 1fr auto;
    }
}
.username-input {
    label {
        --opacity: 1;
        display: block;
        line-height: 150%;
        font-weight: 700;
        text-transform: uppercase;
        color: $blue;
    }
    input[type="text"] {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 1.5rem;
        padding: 0.25rem;
        border-radius: 0.15rem;
        border: 1px solid rgba(66, 153, 225, 0.7);
    }
}
.button {
    background-color: rgba(66, 153, 225);
    color: white;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    border: 0;
    font-size: 1rem;
    border-radius: 0.25rem;
}
.form-error {
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    &.invisible {
        display: none !important;
    }
}
